.Card{
    margin-top: 1em;
}
.card-container{
    width: 30em;
    height: 50em;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(221, 221, 221);
}

.banner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aliceblue;
    height: 2.5em;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: rgb(221, 221, 221);
}

.main-content{
    height: 40em;
}

.interact-section{
    background-color: aliceblue;
    height: 7.45em;
}
.interact-section .votes{
    float: right;
    margin-right: 2em;
    background-color: green;
}

@media only screen and (max-width: 740px) {
    .card-container {
      width: 100vw;
    }
  }