.subreddit-section {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  margin-left: 50px;
  margin-top: 30px;
  width: 250px;
  background-color: white;
}
.subreddit-contents {
  text-align: left;
  margin: 10px 20px;
  font-weight: bold;
}
.subreddit-contents ul {
  list-style: none;
  padding: 0;
}

.subreddit-contents a:hover {
  color: gray;
}
.subreddit-contents span {
  font-weight: bold;
}
