main {
  display: flex;
  justify-content: center;
  width: 100vw;
}

@media only screen and (max-width: 900px) {
  aside {
    display: none;
  }
}

body {
  background-color: rgb(241, 241, 241);
}

.App {
}
